.card {
  margin: 0;
  max-width: 413px;
  min-height: 445px;
  border-radius: 8px;
  position: relative;
}

.card__delete-btn {
  position: absolute;
  background: none;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  height: 32px;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card__delete-btn:hover {
  background-color: #ff6565;
  cursor: pointer;
}

.card__image {
  display: block;
  width: 100%;
  height: 413px;
  object-fit: cover;
  position: relative;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__caption {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__caption-description {
  margin: 0;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 353px;
}

.like-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 23px;
  height: 20px;
  cursor: pointer;
}

.card__like-btn_not-liked {
  background-size: cover;
  object-fit: cover;
  opacity: 0.7;
  background-image: url("../images/like-icon.svg");
  transition: opacity 0.3s ease;
}

.card__like-btn_not-liked:hover {
  opacity: 1;
}

.card__like-btn_is-liked {
  opacity: 1;
  background-image: url("../images/liked-icon.svg");
  transition: opacity 0.3s ease;
}

.card__like-btn_is-liked:hover {
  opacity: 0.7;
}

@media all and (max-width: 636px) {
  .card {
    max-width: 288px;
    min-height: 318px;
  }

  .card__image {
    height: 288px;
  }

  .card__caption-description {
    font-size: 16px;
    max-width: calc(100% - 23px);
  }

  .card__like-icon_not-liked {
    width: 20px;
    height: 18px;
  }

  .card__like-icon_is-liked {
    width: 20px;
    height: 18px;
  }
}
